# Python
__pycache__/
*.pyc
venv/
venv313/
.env

# VS Code
.vscode/

# Database / local files
*.sql
*.db
*.sqlite
*.sqlite3
ca.pem

# OS
Thumbs.db
.DS_Store

# Backup
app_before_login.py
import_to_tidb.py